<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="title" content="LD31 - En Lolfest" />
    <meta name="description" content="WebGL, AudioAPI" />

    <title>LD31 - En Lolfest</title>
    <%- asset("style.css") %>
    <%- asset("lib.js") %>
</head>
<body>
    <%- asset("game.js") %>
</body>
</html>